@font-face {
  font-family: 'MuseoSans';
  src: url("assets/font/MuseoSans-300/MuseoSans-300.eot?") format("eot"), url("assets/font/MuseoSans-300/MuseoSans-300.otf") format("opentype"), url("assets/font/MuseoSans-300/MuseoSans-300.woff") format("woff"), url("assets/font/MuseoSans-300/MuseoSans-300.ttf") format("truetype"), url("assets/font/MuseoSans-300/MuseoSans-300.svg#MuseoSans-300") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MuseoSans';
  src: url("assets/font/MuseoSans-500/museosans_500-webfont.eot");
  src: url("assets/font/MuseoSans-500/museosans_500-webfont.eot?#iefix") format("embedded-opentype"), url("assets/font/MuseoSans-500/museosans_500-webfont.woff2") format("woff2"), url("assets/font/MuseoSans-500/museosans_500-webfont.woff") format("woff"), url("assets/font/MuseoSans-500/museosans_500-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'MuseoSans';
  src: url("assets/font/MuseoSans-700/museosans_700-webfont.eot");
  src: url("assets/font/MuseoSans-700/museosans_700-webfont.eot?#iefix") format("embedded-opentype"), url("assets/font/MuseoSans-700/museosans_700-webfont.woff2") format("woff2"), url("assets/font/MuseoSans-700/museosans_700-webfont.woff") format("woff"), url("assets/font/MuseoSans-700/museosans_700-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "MuseoSans", SansSerif !important; }

a {
  text-decoration: none;
  color: #000; }

.hidden {
  display: none; }

.main-front-page {
  background-color: #eee; }

.h1 {
  font-size: 200%;
  font-weight: 300; }

.header {
  padding-top: 10px; }

.header__div {
  display: flex;
  flex-direction: row; }

.header__div-bottom {
  height: 150px;
  flex-wrap: wrap; }

.header__div-top {
  height: 35px; }

.header__a-logo {
  flex-grow: 1;
  background-image: url("assets/img/Shuffle_Clip_CorporateTop.png");
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  height: 150px;
  margin-top: -10px;
  z-index: 2; }

.a-logo__h1 {
  text-indent: -9000px; }

.header__nav {
  flex-grow: 1;
  margin-left: 15%; }

.header__figure-swirl-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; }

.figure-swirl-banner__div {
  flex-grow: 1;
  height: 100%;
  z-index: 1; }

.figure-swirl-banner__div-orange {
  background: #f59b00; }

.figure-swirl-banner__div-purple {
  background: #923a80; }

.figure-swirl-banner__div-blue {
  background: #008ad2; }

.figure-swirl-banner__div-red {
  background: #e2261b; }

.figure-swirl-banner__div-green {
  background: #64b32b;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 40%;
  -moz-border-bottom-right-radius: 40%;
  border-bottom-right-radius: 40%;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0; }

.figure-swirl-banner__div-swirl {
  background: url(assets/img/Shuffle_Pattern_White.png);
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: 1;
  -webkit-background-size: 450px;
  background-size: 450px;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 25%;
  -moz-border-bottom-right-radius: 25%;
  border-bottom-right-radius: 25%;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0; }

.header__figure-rounded-corner {
  height: 24px;
  width: 100%;
  margin-top: -20px;
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row; }

.figure-rounded-corner__div {
  height: 100%;
  width: 63px;
  height: 85px; }

.figure-rounded-corner__div-middle {
  background-color: #fff;
  width: 100%;
  height: 21px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px; }

.figure-rounded-corner__div-right {
  background: url(assets/img/shuffle-swirl-up.png) no-repeat bottom left;
  -webkit-background-size: contain;
  background-size: contain;
  flex-grow: 1;
  width: 60px;
  top: -53px;
  position: relative; }

.figure-rounded-corner__div-left {
  background: url(assets/img/shuffle-swirl-down.png) no-repeat top right;
  flex-grow: 1;
  position: relative;
  -webkit-background-size: contain;
  background-size: contain;
  top: -11px;
  width: 60px;
  z-index: 2; }

.section-carousel {
  height: 500px;
  display: flex;
  flex-direction: row;
  position: relative; }

.section-carousel__div {
  width: 100vw;
  height: 560px;
  position: relative;
  top: -60px;
  z-index: 0;
  flex: 1 0 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  -webkit-border-top-left-radius: 50px;
  -moz-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0; }

.current {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.carousel__div-img-1 {
  background: url(assets/img/carousel/1.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

.carousel__div-img-2 {
  background: url(assets/img/carousel/2.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

.carousel__div-img-3 {
  background: url(assets/img/carousel/3.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

.carousel__div-img-4 {
  background: url(assets/img/carousel/4.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

.carousel__div-img-5 {
  background: url(assets/img/carousel/5.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

/* NAV STYLING */
.menu-main-menu-container ul,
.menu-footer-menu-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row; }
  .menu-main-menu-container ul li,
  .menu-footer-menu-container ul li {
    margin: 0 25px;
    white-space: nowrap;
    font-size: 130%;
    font-weight: 500; }

.section-controls {
  padding: 0 5px;
  position: relative;
  top: -60px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  -webkit-border-top-left-radius: 65px;
  -moz-border-top-left-radius: 65px;
  border-top-left-radius: 65px;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0; }
  .section-controls:before {
    content: ' ';
    display: block;
    background: url(assets/img/swoop-down.png);
    -webkit-background-size: contain;
    background-size: contain;
    width: 100px;
    height: 100px;
    align-self: flex-end;
    position: absolute;
    top: -100px;
    right: -5px; }

.controls-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 200px; }

.categories__li {
  display: block;
  width: 80px;
  background-color: #7f8184;
  background-image: url(assets/img/Shuffle_Pattern_White.png);
  -webkit-background-size: 500%;
  background-size: 500%;
  background-position: 0, 0;
  text-align: center;
  padding: 30px 0;
  cursor: pointer;
  border: 17px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-border-top-left-radius: 100px;
  -moz-border-top-left-radius: 100px;
  border-top-left-radius: 100px;
  -webkit-border-top-right-radius: 100px;
  -moz-border-top-right-radius: 100px;
  border-top-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-bottom-left-radius: 100px;
  -moz-border-bottom-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: relative;
  top: -75px;
  font-weight: 700;
  font-size: 120%;
  margin: 0 10%;
  color: white; }

.form-controls {
  display: flex;
  justify-content: center;
  padding: 0 200px; }
  .form-controls label {
    display: none; }
  .form-controls * {
    -webkit-border-top-left-radius: 50px;
    -moz-border-top-left-radius: 50px;
    border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 0 3.5%;
    width: 250px; }

.controls-shuffle {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border: none;
  background-color: white;
  background-image: url(assets/img/logo_black.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 45%;
  background-size: 45%;
  padding: 15px 75px;
  text-indent: -9000px;
  cursor: pointer;
  transition: all 100ms; }

.form-controls__search {
  border: none;
  padding: 12px 0 12px 24px;
  -webkit-background-size: 10%;
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 85% center;
  background-image: url(assets/img/icon_search.png);
  font-size: 150%;
  font-weight: 500; }
  .form-controls__search::placeholder {
    font-family: "MuseoSans", SansSerif; }
  .form-controls__search:focus {
    outline: none;
    border: none; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.menu-footer-menu-container ul li {
  margin: 0;
  padding: 0 15px;
  border-right: 1px solid black; }

.menu-footer-menu-container ul li:last-of-type {
  border: none; }

.footer__p--copyright {
  margin-top: 15px; }

/*# sourceMappingURL=style.css.map */
