@charset "UTF-8";

// TODO: Ik kan de CSS imports optimizen door een aantal variables hier in te declareren en dan deze te importen in verschillende sub-css'en, en de sub-css'en
//        aan te roepen bij de bijbehorende pagina's.

// Andy Mixins
@import 'assets/css/andy-master/andy';

// PRIVATE MIXINS

@mixin box-shadow{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

@mixin background-size($size){
  -webkit-background-size:$size;
  background-size:$size;
}

@mixin border-semi-rounded{
  @include border-radius-separate(50px, 50px, 50px, 50px);
}

@mixin border-full-rounded{
  @include border-radius-separate(100%, 100%, 100%, 100%);
}

//START SCSS

$font_stack: 'MuseoSans', SansSerif;

$orange: rgb(245, 155, 0);
$purple: rgb(146, 58, 128);
$blue: rgb(0, 138, 210);
$red: rgb(226, 38, 27);
$green: rgb(100, 179, 43);
$bg: #eee;
$dgray: #7f8184;

// main css


@font-face {
  font-family: 'MuseoSans';
  src: url('assets/font/MuseoSans-300/MuseoSans-300.eot?') format('eot'),
  url('assets/font/MuseoSans-300/MuseoSans-300.otf')  format('opentype'),
  url('assets/font/MuseoSans-300/MuseoSans-300.woff') format('woff'),
  url('assets/font/MuseoSans-300/MuseoSans-300.ttf')  format('truetype'),
  url('assets/font/MuseoSans-300/MuseoSans-300.svg#MuseoSans-300') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSans';
  src: url('assets/font/MuseoSans-500/museosans_500-webfont.eot');
  src: url('assets/font/MuseoSans-500/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/font/MuseoSans-500/museosans_500-webfont.woff2') format('woff2'),
  url('assets/font/MuseoSans-500/museosans_500-webfont.woff') format('woff'),
  url('assets/font/MuseoSans-500/museosans_500-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('assets/font/MuseoSans-700/museosans_700-webfont.eot');
  src: url('assets/font/MuseoSans-700/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/font/MuseoSans-700/museosans_700-webfont.woff2') format('woff2'),
  url('assets/font/MuseoSans-700/museosans_700-webfont.woff') format('woff'),
  url('assets/font/MuseoSans-700/museosans_700-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

}

body {
  font-family: $font_stack !important;
  padding-top: 160px;
}

.wp-admin{
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.main-front-page {
  background-color: $bg;
}

// TEXT-TAGS

.h1 {
  font-size: 200%;
  font-weight: 300;
}

// HEADER

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header__div {
  display: flex;
  flex-direction: row;
}

.header__div-bottom {
  height: 125px;
  flex-wrap: wrap;
}

.header__div-top {
  padding-top: 10px;
  height: 35px;
  background-color: #fff;
}

.header__a-logo {
  flex-grow: 1;
  background-image: url('assets/img/Shuffle_Clip_CorporateTop.png');
  display: block;
  background-repeat: no-repeat;
  @include background-size(contain);
  height: 150px;
  margin-top: -10px;
  z-index: 2;
}

.a-logo__h1 {
  text-indent: -9000px;
}

.header__nav {
  flex-grow: 1;
  margin-left: 15%;
  
  & a:hover::after{
    display: block;
    content: '';
    height: 4px;
    margin-top: 4px;
    background-color: $orange;
    animation:a-after 0.2s forwards ease-out;
  }
}

@keyframes a-after {
  0%    {transform: scaleX(0)}
  100%  {transform: scaleX(1)}
}

// FIGURE SWIRL

.header__figure-swirl-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.figure-swirl-banner__div {
  flex-grow: 1;
  height: 100%;
  z-index: 1;
}

.figure-swirl-banner__div-orange {
  background: $orange;
}

.figure-swirl-banner__div-purple {
  background: $purple;
}

.figure-swirl-banner__div-blue {
  background: $blue;
}

.figure-swirl-banner__div-red {
  background: $red;
}

.figure-swirl-banner__div-green {
  background: $green;
  @include border-radius-separate(0, 0, 75px, 0)
}

.figure-swirl-banner__div-swirl {
  background: url(assets/img/Shuffle_Pattern_White.png);
  @include opacity(0.8);
  width: 100%;
  height: 125px;
  position: absolute;
  z-index: 1;
  @include background-size(450px);
  @include border-radius-separate(0, 0, 60px, 0)
}

// FIGURE ROUNDED CORNER

.header__figure-rounded-corner {
  height: 24px;
  width: 100%;
  margin-top: -20px;
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row;
}

.figure-rounded-corner__div {
  height: 100%;
  @include size(63px, 85px)
}

.figure-rounded-corner__div-middle {
  background-color: #fff;
  width: 100%;
  height: 21px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

.figure-rounded-corner__div-right {
  background: url(assets/img/shuffle-swirl-up.png) no-repeat bottom left;
  @include background-size(100%);
  flex-grow: 1;
  width: 60px;
  top: -53px;
  position: relative;

  &.family  { background-image: url(assets/img/shuffle-swirl-up-family.png)};
  &.kids    { background-image: url(assets/img/shuffle-swirl-up-kids.png)};
  &.girls   { background-image: url(assets/img/shuffle-swirl-up-girls.png)};
  &.boys    { background-image: url(assets/img/shuffle-swirl-up-boys.png)};
  &.adult   { background-image: url(assets/img/shuffle-swirl-up-adult.png)};
}

.figure-rounded-corner__div-left {
  background: url(assets/img/shuffle-swirl-down.png) no-repeat top right;
  flex-grow: 1;
  position: relative;
  @include background-size(100%);
  top: -11px;
  width: 60px;
  z-index: 2;


  &.transparent{
    background: url(assets/img/shuffle_swirl_down_transparent.png) no-repeat top right;
    @include background-size(100%);
    top: -10.1px
  }
}

// SOCIAL-MENU
.social-menu{
  position: fixed;
  right: 0;
  z-index: 1;
  text-indent: -9000px;
  background: white;
  @include border-radius-separate(20px, 0, 0, 20px);
  padding: 13px 0;
  @include box-shadow();

  & li{
    @include size(40px, 40px);
    padding: 3px 13px 0;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }

  & li:first-of-type{ background-image: url(assets/img/icon_fb.png); }
  & li:nth-of-type(2){ background-image: url(assets/img/icon_yt.png); }
}

// CAROUSEL

.section-carousel {
  height: 500px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.section-carousel__div {
  width: 100vw;
  height: 560px;
  position: relative;
  top: -90px;
  z-index: 0;
  flex: 1 0 100%;
  @include opacity(0);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.current{
  @include opacity(1);
}

.carousel__div-img-1 {
  background: url(assets/img/carousel/1.jpg) center;
  @include background-size(cover)
}

.carousel__div-img-2 {
  background: url(assets/img/carousel/2.jpg) center;
  @include background-size(cover)
}

.carousel__div-img-3 {
  background: url(assets/img/carousel/3.jpg) center;
  @include background-size(cover)
}

.carousel__div-img-4 {
  background: url(assets/img/carousel/4.jpg) center;
  @include background-size(cover)
}

.carousel__div-img-5 {
  background: url(assets/img/carousel/5.jpg) center;
  @include background-size(cover)
}

// NAV STYLING

.menu-main-menu-container ul,
.menu-footer-menu-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;

  li {
    margin: 0 25px;
    white-space: nowrap;
    font-size: 130%;
    font-weight: 500;
  }
}

// CONTROLS SECTION

.section-controls {
  padding: 0 5px;
  position: relative;
  top: -90px;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  @include border-radius-separate(65px, 0, 0, 0);

  &:before {
    content: ' ';
    display: block;
    background: url(assets/img/swoop-down.png);
    @include background-size(contain);
    @include size(100px, 100px);
    align-self: flex-end;
    position: absolute;
    top: -100px;
    right: 0;
  }

  label{
    display: none;
  }
}

.controls-categories{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category{
  background-color: $dgray;
  background-image: url(assets/img/Shuffle_Pattern_White.png);
  @include background-size(500%);
  background-position: 0, 0;
  text-align: center;
  color: white;
  border: 17px solid white;
  @include box-shadow;
  @include border-radius-separate(100px, 100px, 100px, 100px);
  font-weight: 700;
  font-size: 120%;
  padding: 30px 0;
  width: 80px;
}

.categories__li{
  display: block;
  cursor: pointer;
  position: relative;
  top:-75px;
  margin: 0 8%;
}

.form-controls{
  display: flex;
  justify-content: center;
  width: 66%;
  align-self: center;
  position: relative;
  top:-30px;

  > *{
    margin: 0 2.5%;
    width: 30%;
    @include border-semi-rounded;
  }
}

.controls-shuffle{
  @include box-shadow;
  border:none;
  background-color: white;
  background-image: url(assets/img/logo/logo_black.png);
  background-repeat: no-repeat;
  background-position: center center;
  @include background-size(45%);
  padding: 15px 0;
  text-indent: -9000px;
  cursor: pointer;
  transition: all 100ms;
  flex-grow: 1;
}

.controls-sort{
  flex-grow: 1;

  select{
    @include size(100%, 100%);
    @include border-semi-rounded;
    font-size: 130%;
    font-weight: 700;
    font-family: $font_stack;
    padding: 0 0 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background-image: url(assets/img/arrow_down.png);   /* add custom arrow */
    background-repeat:no-repeat;
    background-position: 90% center;
    animation: select 0.4s forwards  cubic-bezier(0.955, 0.165, 0.215, 0.995);

    &.sort-asc{
      animation: sort-desc 0.4s cubic-bezier(0.955, 0.165, 0.215, 0.995) forwards;
      background-image: url(assets/img/arrow_down.png);
    }

    &.sort-desc{
      animation: sort-asc 0.4s cubic-bezier(0.955, 0.165, 0.215, 0.995) forwards;
      background-image: url(assets/img/arrow_up.png);
    }

    &:focus{
      outline: none;
    }
  }
}

@keyframes sort-desc {
  50%   {background-position: 90% 60%; color: rgba(0, 0, 0, 0.8)}
}

@keyframes sort-asc {
  50%   {background-position: 90% 40%; color: rgba(0, 0, 0, 0.8)}
}

.controls-search{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.form-search__input-search{
  border:none;
  padding: 0 0 0 24px;
  font-size: 150%;
  font-weight: 500;
  @include border-semi-rounded();
  width: 100%;

  &::placeholder{;
    font-family: $font_stack;
  }

  &:focus{
    outline: none;
    border: none;
  }
}

.form-search__input-submit{
  position: absolute;
  background-image: url(assets/img/icon_search.png);
  @include background-size(100%);
  background-color: rgba(0,0,0,0);
  border:none;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9000px;
  @include size(3%, 100%);
  right:5%;
  cursor: pointer;
}

// LICENCE

.licence {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -60px;
  position: relative;
}

.licence__div{
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(96%, 96%);
  position: absolute;
  background-color: #4d4d4d;
  background-position: center;
  background-repeat: no-repeat;
  @include background-size(contain)
  // TODO: Om de achtergronden correct te laten werken moeten de bg images ook vierkant zijn
  // anders komt dat gewoon niet goed door het feit dat die verhoudingen niet kloppen.
}

.licence__h1{
  font-size: 30px;
  color: #FFF;
  font-weight: 700;
  opacity: 0;
}

.licence__a{
  position: absolute;
  width: 25%;
  padding-bottom: 25%;
  // TODO: Hier moeten nog breakpoints ingesteld worden

  .boys, .family, .adult, .kids, .girls{
    &:hover{
      background-image: url(assets/img/Shuffle_Pattern_White.png) !important;
      @include background-size(150%);

      .licence__h1{
        opacity:1;
      }
    }
  }

  .family:hover { background-color: $red };
  .kids:hover { background-color: $orange };
  .girls:hover { background-color: $purple };
  .boys:hover{ background-color: $blue};
  .adult:hover { background-color: $green};
}



// LICENCE SINGLE

.licence-single__header{
  height: 500px;
  position: relative;
  top:-90px;
  display: flex;
  justify-content:center;
  align-items: center;
  @include border-radius-separate(0, 0, 70px, 0);
  @include background-size(cover)
}

.licence-logo{
  height:100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 55%;
  @include background-size(45%);
}

.licence-single__h1{
  font-weight: 700;
}

.licence__figure-rounded-corner {
  height: 24px;
  width: 100%;
  margin-top: -125px;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: row;
}

.section-licence-title{
  top:-20px;
  position: relative;
  background-image: url(assets/img/Shuffle_Pattern_White.png);
  @include background-size(35%);
  @include border-radius-separate(60px, 0, 0, 0);

  &.family  { background-color: $red;};
  &.kids    { background-color: $orange };
  &.girls   { background-color: $purple };
  &.boys    { background-color: $blue};
  &.adult   { background-color: $green};
}

.licence-single__h2{
  &.h2-secondary-title{
    text-align: center;
    padding: 50px 0;
    font-size: 450%;
    font-weight: 700;
    color: #FFF;
  }
}

// SECTION-PRODUCTS
.section-products{
  padding: 0 0 50px;
  background-color: $bg;
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
}

.single-product{
  display: flex;
  flex-direction:row;
  margin-top: 10px;
  justify-content: center;

  .boys{background-color: $blue}
  .kids{background-color: $orange}
  .girls{background-color: $purple}
  .adult{background-color: $green}
  .family{background-color: $red}
}

.single-product-category {
  position: absolute;
  margin-top: 10px;
}


.single-product__section{
  width: 50%;
  min-height: 430px;
}

.boys .single-product:nth-child(even) .left{background: $blue;}
.boys .single-product:nth-child(odd) .right{background: $blue;}
.girls .single-product:nth-child(even) .left{background: $purple;}
.girls .single-product:nth-child(odd) .right{background: $purple;}
.kids .single-product:nth-child(even) .left{background: $orange;}
.kids .single-product:nth-child(odd) .right{background: $orange;}
.adult .single-product:nth-child(even) .left{background: $green;}
.adult .single-product:nth-child(odd) .right{background: $green;}
.family .single-product:nth-child(even) .left{background: $red;}
.family .single-product:nth-child(odd) .right{background: $red;}

.single-product:nth-child(odd) .left{background: #FFF;}
.single-product:nth-child(even) .right{background: #FFF;}

.single-product-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.single-product__img{
  max-width: 42vw;
  display: block;
  -webkit-filter: drop-shadow(-3px 0px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(-3px 0px 3px rgba(0, 0, 0, 0.2));
}

// FOOTER

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  margin-bottom: 30px;
}

.footer__nav{
  font-size: 80%;
}

.menu-footer-menu-container ul li {
  margin: 0;
  padding: 0 8px;
  border-right: 1px solid black;
  font-weight: 700;
}

.menu-footer-menu-container ul li:last-of-type {
  border: none;
}

.footer__p--copyright {
  margin-top: 15px;
  font-weight: 500;
}

// SEARCH.PHP
.section-search-results{
  margin-top: 160px;
}

// OVERRIDES

.loading-gif{
  background-image: url(assets/img/loading.gif);
}