@charset "UTF-8";

// TODO: Ik kan de CSS imports optimizen door een aantal variables hier in te declareren en dan deze te importen in verschillende sub-css'en, en de sub-css'en
//        aan te roepen bij de bijbehorende pagina's.

// Andy Mixins
@import 'assets/css/andy-master/andy';

// private mixins
@import 'assets/css/mixins';

//START SCSS

$font_stack: 'MuseoSans', SansSerif;

$orange: rgb(245, 155, 0);
$purple: rgb(146, 58, 128);
$blue: rgb(0, 138, 210);
$red: rgb(226, 38, 27);
$green: rgb(100, 179, 43);
$bg: #eee;
$dgray: #7f8184;

// main css


@font-face {
  font-family: 'MuseoSans';
  src: url('assets/font/MuseoSans-300/MuseoSans-300.eot?') format('eot'),
  url('assets/font/MuseoSans-300/MuseoSans-300.otf')  format('opentype'),
  url('assets/font/MuseoSans-300/MuseoSans-300.woff') format('woff'),
  url('assets/font/MuseoSans-300/MuseoSans-300.ttf')  format('truetype'),
  url('assets/font/MuseoSans-300/MuseoSans-300.svg#MuseoSans-300') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSans';
  src: url('assets/font/MuseoSans-500/museosans_500-webfont.eot');
  src: url('assets/font/MuseoSans-500/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/font/MuseoSans-500/museosans_500-webfont.woff2') format('woff2'),
  url('assets/font/MuseoSans-500/museosans_500-webfont.woff') format('woff'),
  url('assets/font/MuseoSans-500/museosans_500-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('assets/font/MuseoSans-700/museosans_700-webfont.eot');
  src: url('assets/font/MuseoSans-700/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
  url('assets/font/MuseoSans-700/museosans_700-webfont.woff2') format('woff2'),
  url('assets/font/MuseoSans-700/museosans_700-webfont.woff') format('woff'),
  url('assets/font/MuseoSans-700/museosans_700-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

}

body {
  font-family: $font_stack !important;
  padding-top: 160px;
}

.wp-admin{
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.main-front-page {
  background-color: $bg;
}

// TEXT-TAGS

.h1 {
  font-size: 200%;
  font-weight: 300;
}

// HEADER

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header__div {
  display: flex;
  flex-direction: row;
}

.header__div-bottom {
  height: 125px;
  flex-wrap: wrap;
}

.header__div-top {
  height: 35px;
  background-color: #fff;
}

.header__a-logo {
  width:100px;
  background-image: url('assets/img/Shuffle_Clip_CorporateTop.png');
  display: block;
  background-repeat: no-repeat;
  @include background-size(contain);
  height: 200%;
  z-index: 7;
}

.a-logo__h1 {
  text-indent: -9000px;
}

#qtranxs_select_qtranslate-chooser{
  margin-right: 10%;
  border: none;
  font-family: $font_stack;
  //font-weight: 700;
  font-size: 100%;

  &:focus{
    outline: none;
    background: #EEE;
    transition: all 200ms;
  }

  & option{
    border: none;
  }
}

.header__nav {
  flex-grow: 1;

  & #menu-main-menu{
    flex-direction: column;
  }

  & .menu-main-menu-container{
    width:100%;
    position: absolute;
    background-color: #fff;
    display: none;
  }


  & #menu-main-menu li{
    background-color: white;
    width: 100%;
    z-index: 5;
    padding: 10px 25px;
  }

  & .button-nav{
    background-image: url(assets/img/burger.png);
    -webkit-background-size:contain;
    background-size:contain;
    background-color: transparent;
    background-position: center;
    background-repeat:no-repeat;
    border: none;
    text-indent: -9999px;
    width: 50px;
    height: 100%;
  }

  & a:hover::after{
    display: block;
    content: '';
    height: 4px;
    margin-top: 4px;
    background-color: $orange;
    animation:a-after 0.2s forwards ease-out;
  }
}

.menu-main-menu-container ul,
.menu-footer-menu-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;

  li {
    padding: 0 25px;
    white-space: nowrap;
    font-size: 130%;
    font-weight: 500;
  }
}

@keyframes a-after {
  0%    {transform: scaleX(0)}
  100%  {transform: scaleX(1)}
}

// FIGURE SWIRL

.header__figure-swirl-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.figure-swirl-banner__div {
  flex-grow: 1;
  height: 100%;
  z-index: 1;
}

.figure-swirl-banner__div-orange {
  background: $orange;
}

.figure-swirl-banner__div-purple {
  background: $purple;
}

.figure-swirl-banner__div-blue {
  background: $blue;
}

.figure-swirl-banner__div-red {
  background: $red;
}

.figure-swirl-banner__div-green {
  background: $green;
  @include border-radius-separate(0, 0, 65px, 0)
}

.figure-swirl-banner__div-swirl {
  background: url(assets/img/Shuffle_Pattern_White.png);
  @include opacity(0.8);
  width: 100%;
  height: 125px;
  position: absolute;
  z-index: 1;
  @include background-size(450px);
  @include border-radius-separate(0, 0, 60px, 0)
}

// FIGURE ROUNDED CORNER

.header__figure-rounded-corner {
  height: 24px;
  width: 100%;
  margin-top: -16px;
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row;
}

.figure-rounded-corner__div {
  height: 100%;
  @include size(63px, 85px)
}

.figure-rounded-corner__div-middle {
  background-color: #fff;
  width: 100%;
  height: 65%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

.figure-rounded-corner__div-right {
  background: url(assets/img/shuffle-swirl-up.png) no-repeat bottom left;
  @include background-size(100%);
  flex-grow: 1;
  width: 60px;
  top: -60px;
  position: relative;

  &.family  { background-image: url(assets/img/shuffle-swirl-up-family.png)};
  &.kids    { background-image: url(assets/img/shuffle-swirl-up-kids.png)};
  &.girls   { background-image: url(assets/img/shuffle-swirl-up-girls.png)};
  &.boys    { background-image: url(assets/img/shuffle-swirl-up-boys.png)};
  &.adult   { background-image: url(assets/img/shuffle-swirl-up-adult.png)};
}

.figure-rounded-corner__div-left {
  background: url(assets/img/shuffle-swirl-down.png) no-repeat top right;
  flex-grow: 1;
  position: relative;
  @include background-size(100%);
  top: -9px;
  width: 60px;
  z-index: 2;


  &.transparent{
    background: url(assets/img/shuffle_swirl_down_transparent.png) no-repeat top right;
    @include background-size(100%);
    top: -10.1px
  }
}

// SOCIAL-MENU
.social-menu{
  position: fixed;
  right: 0;
  z-index: 1;
  text-indent: -9000px;
  background: white;
  @include border-radius-separate(20px, 0, 0, 20px);
  padding: 13px 0;
  @include box-shadow();

  & li{
    @include size(40px, 40px);
    padding: 3px 13px 0;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }

  & li:first-of-type{ background-image: url(assets/img/icon_fb.png); }
  & li:nth-of-type(2){ background-image: url(assets/img/icon_yt.png); }
}

// CAROUSEL

.section-carousel {
  height: 500px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.section-carousel__div {
  width: 100%;
  height: 560px;
  position: absolute;
  top: -90px;
  left: 0;
  @include opacity(0);
  z-index: 0;
  flex: 1 0 100%;
  //@include opacity(0);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.section-carousel__div:first-of-type{
  @include opacity(1);
}

.carousel__div-img-1 {
  background: url(assets/img/carousel/1.jpg) center;
  @include background-size(cover)
}

.carousel__div-img-2 {
  background: url(assets/img/carousel/2.jpg) center;
  @include background-size(cover)
}

.carousel__div-img-3 {
  background: url(assets/img/carousel/3.jpg) center;
  @include background-size(cover)
}

.carousel__div-img-4 {
  background: url(assets/img/carousel/4.jpg) center;
  @include background-size(cover)
}

.carousel__div-img-5 {
  background: url(assets/img/carousel/5.jpg) center;
  @include background-size(cover)
}

// CONTROLS SECTION

.section-controls {
  padding: 0 5px;
  position: relative;
  top: -90px;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  @include border-radius-separate(65px, 0, 0, 0);

  &:before {
    content: ' ';
    display: block;
    background: url(assets/img/swoop-down.png);
    @include background-size(contain);
    @include size(100px, 100px);
    align-self: flex-end;
    position: absolute;
    top: -100px;
    right: 0;
  }

  label{
    display: none;
  }
}

.controls-categories{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category{
  background-color: $dgray;
  background-image: url(assets/img/Shuffle_Pattern_White.png);
  @include background-size(500%);
  background-position: 0, 0;
  text-align: center;
  color: white;
  border: 8px solid white;
  @include box-shadow;
  @include border-radius-separate(100px, 100px, 100px, 100px);
  font-weight: 700;
  font-size: 100%;
  padding: 20px 10px;
  width: 80px;
}

.categories__li{
  display: block;
  cursor: pointer;
  position: relative;
  top:-75px;
  margin: 0 5%;
  transition: all 200ms;
}

.form-controls{
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
  position: relative;
  top:-30px;

  > .controls-sort{
    font-size: 50%;
  }

  > .controls-search{
    font-size: 50%;
  }

  > *{
    margin: 0 2.5%;
    width: 30%;
    @include border-semi-rounded;
  }
}

.controls-shuffle{
  @include box-shadow;
  border:none;
  background-color: white;
  background-image: url(assets/img/logo/logo_black.png);
  background-repeat: no-repeat;
  background-position: center center;
  @include background-size(45%);
  padding: 15px 0;
  text-indent: -9000px;
  cursor: pointer;
  transition: all 100ms;
  flex-grow: 1;
}

.controls-sort{
  flex-grow: 1;

  select{
    @include size(100%, 100%);
    @include border-semi-rounded;
    font-size: 130%;
    font-weight: 700;
    font-family: $font_stack;
    padding: 0 0 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background-image: url(assets/img/arrow_down.png);   /* add custom arrow */
    background-repeat:no-repeat;
    background-position: 90% center;
    animation: select 0.4s forwards  cubic-bezier(0.955, 0.165, 0.215, 0.995);
    -webkit-background-size: 15%;
    background-size: 15%;

    &.sort-asc{
      animation: sort-desc 0.4s cubic-bezier(0.955, 0.165, 0.215, 0.995) forwards;
      background-image: url(assets/img/arrow_down.png);
    }

    &.sort-desc{
      animation: sort-asc 0.4s cubic-bezier(0.955, 0.165, 0.215, 0.995) forwards;
      background-image: url(assets/img/arrow_up.png);
    }

    &:focus{
      outline: none;
    }
  }
}

@keyframes sort-desc {
  50%   {background-position: 90% 60%; color: rgba(0, 0, 0, 0.8)}
}

@keyframes sort-asc {
  50%   {background-position: 90% 40%; color: rgba(0, 0, 0, 0.8)}
}

.controls-search{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.form-search__input-search{
  border:none;
  padding: 0 0 0 24px;
  font-weight: 500;
  @include border-semi-rounded();
  width: 100%;

  &::placeholder{;
    font-family: $font_stack;
  }

  &:focus{
    outline: none;
    border: none;
  }
}

.form-search__input-submit{
  position: absolute;
  background-image: url(assets/img/icon_search.png);
  @include background-size(100%);
  background-color: rgba(0,0,0,0);
  border:none;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -9000px;
  @include size(3%, 100%);
  right:5%;
  cursor: pointer;
}

// LICENCE

.licence {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -60px;
  position: relative;
}

.licence__div{
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(96%, 96%);
  position: absolute;
  background-color: #4d4d4d;
  background-position: center;
  background-repeat: no-repeat;
  @include background-size(cover)
}

.licence__h1{
  font-size: 30px;
  color: #FFF;
  font-weight: 700;
  opacity: 0;
}

.licence__a{
  position: absolute;
  width: 100%;
  //padding-bottom: 25%;

  .boys, .family, .adult, .kids, .girls{
    &:hover{
      background-image: url(assets/img/Shuffle_Pattern_White.png) !important;
      @include background-size(150%);

      .licence__h1{
        opacity:1;
      }
    }
  }

  .family:hover { background-color: $red };
  .kids:hover { background-color: $orange };
  .girls:hover { background-color: $purple };
  .boys:hover{ background-color: $blue};
  .adult:hover { background-color: $green};
}



// LICENCE SINGLE

.licence-single__header{
  height: 500px;
  position: relative;
  top:-90px;
  display: flex;
  justify-content:center;
  align-items: center;
  @include border-radius-separate(0, 0, 70px, 0);
  @include background-size(cover)
}

.licence-logo{
  height:100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 55%;
  @include background-size(45%);
}

.licence-single__h1{
  font-weight: 700;
}

.licence__figure-rounded-corner {
  height: 24px;
  width: 100%;
  margin-top: -125px;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: row;
}

.section-licence-title{
  top:-20px;
  position: relative;
  background-image: url(assets/img/Shuffle_Pattern_White.png);
  @include background-size(35%);
  @include border-radius-separate(60px, 0, 0, 0);

  &.family  { background-color: $red;};
  &.kids    { background-color: $orange };
  &.girls   { background-color: $purple };
  &.boys    { background-color: $blue};
  &.adult   { background-color: $green};
}

.licence-single__h2{
  &.h2-secondary-title{
    text-align: center;
    padding: 50px 0;
    font-size: 450%;
    font-weight: 700;
    color: #FFF;
  }
}

// FOOTER

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -10px;
  margin-bottom: 30px;
}

.footer__nav{
  font-size: 80%;
}

.menu-footer-menu-container ul li {
  margin: 0;
  padding: 0 8px;
  border-right: 1px solid black;
  font-weight: 700;
}

.menu-footer-menu-container ul li:last-of-type {
  border: none;
}

.footer__p--copyright {
  margin-top: 15px;
  font-weight: 500;
}

.footer__div-top{
  height: 125px;
  width: 100%;
  margin-bottom: 25px;

  & .header__figure-rounded-corner{
    position: relative;
    top:23px;
  }

  & .figure-swirl-banner__div-orange{
    @include border-radius-separate(65px, 0, 0 ,0)
  }

  & .figure-swirl-banner__div-green,
  & .figure-swirl-banner__div-swirl {
    border-radius: 0;
  }

  & .figure-rounded-corner__div-left {
    background-image: url(assets/img/shuffle_swirl_down_transparent.png);
    position: relative;
    top:-10px;
  }

  & .figure-rounded-corner__div-right{
    background-image: url(assets/img/shuffle-swirl-up-adult.png);
    position: relative;
    top: -53px;
    background-position: center;
    background-size: 100%;
  }
}

// SEARCH.PHP
.section-search-results{
  margin-top: 160px;
}

// PAGE.PHP

body.page main{
  padding: 35px;
}
.shuffle_title{
  color: white;
  background-color: black;
  display: block;
  @include border-radius-separate(100px, 0, 100px, 0);
  padding: 5px 40px;
  margin: 35px 0 10px;
  font-size: 150%;
}

// OVERRIDES

.loading-gif{
  background-image: url(assets/img/loading.gif);
}


// MEDIAQUERIES

@media (max-width: 320px) {
  .header{
  width: 96%;
  }

  .footer{
    width: 100%;
  }
}

@media (max-width: 375px) {
  .controls-sort select{
    background-image: none;
  }
}

@media (min-width: 375px) {
  .figure-rounded-corner__div-left{
    top: -9px;
  }

  .figure-rounded-corner__div-right{
    top: -58px
  }

  .figure-rounded-corner__div-middle{
    height: 72%;
  }
}

@media (min-width: 400px) {
  .figure-rounded-corner__div-left{
    top: -10px;
  }

  .category{
    padding: 30px 0;
  }

  .categories__li{
    margin: 0 6%;
  }
}

@media (min-width: 550px) {
  .header__figure-rounded-corner{
    margin-top: -17px;
  }

  .figure-rounded-corner__div-left{
    top: -10px;
  }

  .figure-rounded-corner__div-right{
    top: -56px
  }

  .figure-rounded-corner__div-middle{
    height: 77%;
  }
}

@media (min-width: 700px) {
  .category{
    border: 17px solid white;
  }

  .header__nav #menu-main-menu li{
    display: flex;
  }

  .header__a-logo{
    width: 150px;
    height: 300%
  }

  .figure-rounded-corner__div-middle{
    height: 80%;
  }

  .figure-rounded-corner__div-right{
    top: -55px
  }

  .header__figure-rounded-corner{
    margin-top: -19px;
  }

  .figure-rounded-corner__div-left{
    top: -11px;
  }

  .form-controls{
    > .controls-sort{
      font-size: 100%;
    }

    > .controls-search{
      font-size: 100%;
    }
  }

  .licence__a{
    width: 50%;
  }
}

@media (min-width: 850px) {
  .header__nav{
    margin-left: 15%;

    & .menu-main-menu-container{
      display: flex;
      width: initial;
    }

    & #menu-main-menu{
      flex-direction: row
    }

    & #menu-main-menu li{
      background: none;
    }
  }

  .button-nav{
    display: none;
  }
}

@media (min-width: 1000px) {

  .form-controls{
    width: 66%;
  }

  .licence__a{
    width: 25%;
  }
}