@font-face {
  font-family: 'MuseoSans';
  src: url("assets/font/MuseoSans-300.otf") format("opentype"); }
body {
  font-family: "MuseoSans", SansSerif; }

a {
  text-decoration: none;
  color: #000; }

.hidden {
  display: none; }

.h1 {
  font-size: 200%;
  font-weight: 700; }

.header {
  padding-top: 10px; }

.header__div {
  display: flex;
  flex-direction: row; }

.header__div-bottom {
  height: 150px;
  flex-wrap: wrap; }

.header__div-top {
  height: 35px; }

.header__a-logo {
  flex-grow: 1;
  background-image: url("assets/img/Shuffle_Clip_CorporateTop.png");
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  height: 150px;
  margin-top: -10px;
  z-index: 2; }

.a-logo__h1 {
  text-indent: -9000px; }

.header__nav {
  flex-grow: 1;
  margin-left: 15%; }

.header__figure-swirl-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%; }

.figure-swirl-banner__div {
  flex-grow: 1;
  height: 100%; }

.figure-swirl-banner__div-orange {
  background: #f59b00; }

.figure-swirl-banner__div-purple {
  background: #923a80; }

.figure-swirl-banner__div-blue {
  background: #008ad2; }

.figure-swirl-banner__div-red {
  background: #e2261b; }

.figure-swirl-banner__div-green {
  background: #64b32b;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 40%;
  -moz-border-bottom-right-radius: 40%;
  border-bottom-right-radius: 40%;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0; }

.figure-swirl-banner__div-swirl {
  background: url(assets/img/Shuffle_Pattern_White.png);
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: 1;
  -webkit-background-size: 450px;
  background-size: 450px;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 25%;
  -moz-border-bottom-right-radius: 25%;
  border-bottom-right-radius: 25%;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0; }

.header__figure-rounded-corner {
  height: 24px;
  width: 100%;
  margin-top: -20px;
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row; }

.figure-rounded-corner__div {
  height: 100%;
  width: 63px;
  height: 85px; }

.figure-rounded-corner__div-middle {
  background-color: #fff;
  width: 100%;
  height: 22px;
  position: relative;
  left: -1px; }

.figure-rounded-corner__div-right {
  background: url(assets/img/shuffle-swirl-up.png) no-repeat bottom left;
  -webkit-background-size: contain;
  background-size: contain;
  flex-grow: 1;
  top: -63px;
  position: relative; }

.figure-rounded-corner__div-left {
  background: url(assets/img/shuffle-swirl-down.png) no-repeat top right;
  flex-grow: 1;
  position: relative;
  -webkit-background-size: contain;
  background-size: contain; }

.div-carousel {
  height: 500px;
  display: flex;
  flex-direction: row; }

.div-carousel__div {
  width: 100vw;
  height: 100%;
  position: relative;
  top: -60px;
  z-index: -1;
  flex: 1 0 100%;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  -webkit-border-top-left-radius: 50px;
  -moz-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0; }

.carousel__div-img-1 {
  background: url(assets/img/carousel/1.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

.carousel__div-img-2 {
  background: url(assets/img/carousel/2.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

.carousel__div-img-3 {
  background: url(assets/img/carousel/3.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

.carousel__div-img-4 {
  background: url(assets/img/carousel/4.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

.carousel__div-img-5 {
  background: url(assets/img/carousel/5.jpg) center;
  -webkit-background-size: cover;
  background-size: cover; }

/* NAV STYLING */
.menu-main-menu-container ul,
.menu-footer-menu-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row; }
  .menu-main-menu-container ul li,
  .menu-footer-menu-container ul li {
    margin: 0 25px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 120%; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.menu-footer-menu-container ul li {
  margin: 0;
  padding: 0 15px;
  border-right: 1px solid black; }

.menu-footer-menu-container ul li:last-of-type {
  border: none; }

.footer__p--copyright {
  margin-top: 15px; }

/*# sourceMappingURL=style.css.map */
