/*This css changes some things in the backend.*/

#category-add-toggle{
    display: none;
}

.selected{
    font-weight: 700;
    color: black;
}

.clear-choice{
    margin-top: 5px !important;
}

hr.clear-choice{
    margin-top: 18px !important;
}