/*This css changes some things in the backend.*/

#category-add-toggle{
    display: none;
}

.selected{
    font-weight: 700;
    color: black;
}

.clear-choice{
    margin-top: 5px !important;
}

hr.clear-choice{
    margin-top: 18px !important;
}

#shuffle_product_gameplay_icons label{
    display: block;
    font-size: 100%;
}

#shuffle_product_gameplay_icons select{
    width: 33%;
}

#normal-sortables{
    display: flex;
}

#normal-sortables #shuffle_con_licence,
#normal-sortables #shuffle_product_gameplay_icons {
    width: 45%;
    margin-right: 2.5%;
}

