.single-product-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 60px;
  padding-left: 60px; }

.product-description {
  text-align: right;
  margin-top: 2%;
  line-height: 130%;
  font-weight: 100;
  color: #4d4d4d; }

.product-title {
  font-size: 300%;
  font-weight: 700;
  margin-top: 2%; }

.gameplay-icons {
  display: flex;
  width: 100%;
  justify-content: flex-end; }

.single-gp {
  padding-top: 50px;
  width: 50px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin: 25px 25px;
  color: #008ad2;
  font-weight: 500;
  font-size: 110%; }

.boys .age_group {
  background-image: url(../img/gameplay_icons/icon_age_blue.png); }
.boys .number_of_players {
  background-image: url(../img/gameplay_icons/icon_playercount_blue.png); }
.boys .duration-10 {
  background-image: url(../img/gameplay_icons/icon_duration_10_blue.png); }
.boys .duration-15 {
  background-image: url(../img/gameplay_icons/icon_duration_15_blue.png); }
.boys .duration-20 {
  background-image: url(../img/gameplay_icons/icon_duration_20_blue.png); }

.girls .age_group {
  background-image: url(../img/gameplay_icons/icon_age_purple.png); }
.girls .number_of_players {
  background-image: url(../img/gameplay_icons/icon_playercount_purple.png); }
.girls .duration-10 {
  background-image: url(../img/gameplay_icons/icon_duration_10_purple.png); }
.girls .duration-15 {
  background-image: url(../img/gameplay_icons/icon_duration_15_purple.png); }
.girls .duration-20 {
  background-image: url(../img/gameplay_icons/icon_duration_20_purple.png); }

.kids .age_group {
  background-image: url(../img/gameplay_icons/icon_age_orange.png); }
.kids .number_of_players {
  background-image: url(../img/gameplay_icons/icon_playercount_orange.png); }
.kids .duration-10 {
  background-image: url(../img/gameplay_icons/icon_duration_10_orange.png); }
.kids .duration-15 {
  background-image: url(../img/gameplay_icons/icon_duration_15_orange.png); }
.kids .duration-20 {
  background-image: url(../img/gameplay_icons/icon_duration_20_orange.png); }

.adult .age_group {
  background-image: url(../img/gameplay_icons/icon_age_green.png); }
.adult .number_of_players {
  background-image: url(../img/gameplay_icons/icon_playercount_green.png); }
.adult .duration-10 {
  background-image: url(../img/gameplay_icons/icon_duration_10_green.png); }
.adult .duration-15 {
  background-image: url(../img/gameplay_icons/icon_duration_15_green.png); }
.adult .duration-20 {
  background-image: url(../img/gameplay_icons/icon_duration_20_green.png); }

.family .age_group {
  background-image: url(../img/gameplay_icons/icon_age_red.png); }
.family .number_of_players {
  background-image: url(../img/gameplay_icons/icon_playercount_red.png); }
.family .duration-10 {
  background-image: url(../img/gameplay_icons/icon_duration_10_red.png); }
.family .duration-15 {
  background-image: url(../img/gameplay_icons/icon_duration_15_red.png); }
.family .duration-20 {
  background-image: url(../img/gameplay_icons/icon_duration_20_red.png); }

.buy-link {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(../img/icon_buy.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin-right: 5%;
  margin-top: 5%; }

.game-guide-link {
  width: 100%;
  display: block;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-border-top-left-radius: 50px;
  -moz-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -moz-border-top-right-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-bottom-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 15px 0;
  text-align: center;
  font-weight: 700;
  font-size: 120%; }

.app-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px; }

.app-store-link,
.play-store-link {
  display: block;
  width: 50%;
  text-align: center;
  -webkit-background-size: contain;
  background-size: contain;
  text-indent: -9999px;
  height: 63px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center; }

.app-store-link {
  background-image: url(../img/icon_appstore.svg); }

.play-store-link {
  background-image: url(../img/icon_googleplay.png); }

/*# sourceMappingURL=product.css.map */
