// THIS CSS PART FILE HANDLES ALL THE CSS WHEN DISPLAYING PRODUCTS

// Andy Mixins
@import '../css/andy-master/andy';

//private mixins
@import "mixins";

$orange: rgb(245, 155, 0);
$purple: rgb(146, 58, 128);
$blue: rgb(0, 138, 210);
$red: rgb(226, 38, 27);
$green: rgb(100, 179, 43);
$bg: #eee;
$dgray: #7f8184;

// LICENCE SINGLE

.licence-single__header{
  height: 500px;
  position: relative;
  top:-90px;
  display: flex;
  justify-content:center;
  align-items: center;
  @include border-radius-separate(0, 0, 70px, 0);
  @include background-size(cover)
}

.licence-logo{
  height:100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 55%;
  @include background-size(45%);
}

.licence-single__h1{
  font-weight: 700;
}

.licence__figure-rounded-corner {
  height: 24px;
  width: 100%;
  margin-top: -125px;
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: row;
}

.section-licence-title{
  top:-20px;
  position: relative;
  background-image: url(../img/Shuffle_Pattern_White.png);
  @include background-size(35%);
  @include border-radius-separate(60px, 0, 0, 0);

  &.family  { background-color: $red;};
  &.kids    { background-color: $orange };
  &.girls   { background-color: $purple };
  &.boys    { background-color: $blue};
  &.adult   { background-color: $green};
}

.licence-single__h2{
  &.h2-secondary-title{
    text-align: center;
    padding: 50px 0;
    font-size: 200%;
    font-weight: 700;
    color: #FFF;
  }
}

.single-product-information{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  padding-left: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.product-description{
  text-align: left;
  margin-top: 2%;
  line-height: 130%;
  font-weight: 100;
  color: #4d4d4d;
  margin-bottom: 15px;
}

.product-title{
  font-size: 200%;
  font-weight: 700;
  margin-top: 2%;
}

.gameplay-icons{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.single-gp{
  padding-top: 50px;
  width: 50px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat:no-repeat;
  text-align: center;
  margin: 25px 25px;
  color: $blue;
  font-weight: 500;
  font-size: 110%;
}

.section-products{
  padding: 0 0 100px;
  background-color: $bg;
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
  margin-bottom: -50px;
}

.single-product{
  display: flex;
  flex-direction:column-reverse;
  margin-top: 10px;
  justify-content: center;

  .boys{background-color: $blue}
  .kids{background-color: $orange}
  .girls{background-color: $purple}
  .adult{background-color: $green}
  .family{background-color: $red}
}

.single-product-category {
  position: absolute;
  top: -15px;
  margin-top: 10px;
  padding:30px 0;
  align-self: center;
}

.single-product__section{
  height: auto;
  min-height: 60vh;
;}

.boys .single-product:nth-child(even) .left{background: $blue;}
.boys .single-product:nth-child(odd) .right{background: $blue;}
.girls .single-product:nth-child(even) .left{background: $purple;}
.girls .single-product:nth-child(odd) .right{background: $purple;}
.kids .single-product:nth-child(even) .left{background: $orange;}
.kids .single-product:nth-child(odd) .right{background: $orange;}
.adult .single-product:nth-child(even) .left{background: $green;}
.adult .single-product:nth-child(odd) .right{background: $green;}
.family .single-product:nth-child(even) .left{background: $red;}
.family .single-product:nth-child(odd) .right{background: $red;}

.single-product:nth-child(odd) .left{background: #FFF;}
.single-product:nth-child(even) .right{background: #FFF;}

.single-product-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  width: 100%;
}

.single-product__div-image{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width: 100%;
  background: no-repeat center;
  -webkit-background-size:contain;
  background-size:contain;
  max-width: 42vw;
  -webkit-filter: drop-shadow(-3px 0px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(-3px 0px 3px rgba(0, 0, 0, 0.2));
}

.boys{
  .age_group{background-image: url(../img/gameplay_icons/icon_age_blue.png);}
  .number_of_players{background-image: url(../img/gameplay_icons/icon_playercount_blue.png);}

  // durations
  .duration-10{background-image: url(../img/gameplay_icons/icon_duration_10_blue.png);}
  .duration-15{background-image: url(../img/gameplay_icons/icon_duration_15_blue.png);}
  .duration-20{background-image: url(../img/gameplay_icons/icon_duration_20_blue.png);}
}

.girls{
  .age_group{background-image: url(../img/gameplay_icons/icon_age_purple.png);}
  .number_of_players{background-image: url(../img/gameplay_icons/icon_playercount_purple.png);}

  // durations
  .duration-10{background-image: url(../img/gameplay_icons/icon_duration_10_purple.png);}
  .duration-15{background-image: url(../img/gameplay_icons/icon_duration_15_purple.png);}
  .duration-20{background-image: url(../img/gameplay_icons/icon_duration_20_purple.png);}
}

.kids{
  .age_group{background-image: url(../img/gameplay_icons/icon_age_orange.png);}
  .number_of_players{background-image: url(../img/gameplay_icons/icon_playercount_orange.png);}

  // durations
  .duration-10{background-image: url(../img/gameplay_icons/icon_duration_10_orange.png);}
  .duration-15{background-image: url(../img/gameplay_icons/icon_duration_15_orange.png);}
  .duration-20{background-image: url(../img/gameplay_icons/icon_duration_20_orange.png);}
}

.adult{
  .age_group{background-image: url(../img/gameplay_icons/icon_age_green.png);}
  .number_of_players{background-image: url(../img/gameplay_icons/icon_playercount_green.png);}

  // durations
  .duration-10{background-image: url(../img/gameplay_icons/icon_duration_10_green.png);}
  .duration-15{background-image: url(../img/gameplay_icons/icon_duration_15_green.png);}
  .duration-20{background-image: url(../img/gameplay_icons/icon_duration_20_green.png);}
}

.family{
  .age_group{background-image: url(../img/gameplay_icons/icon_age_red.png);}
  .number_of_players{background-image: url(../img/gameplay_icons/icon_playercount_red.png);}

  // durations
  .duration-10{background-image: url(../img/gameplay_icons/icon_duration_10_red.png);}
  .duration-15{background-image: url(../img/gameplay_icons/icon_duration_15_red.png);}
  .duration-20{background-image: url(../img/gameplay_icons/icon_duration_20_red.png);}
}

.buy-link{
  display: block;
  @include size(80px, 80px);
  background-image: url(../img/icon_buy.png);
  background-position: center;
  background-repeat:no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin-right: 5%;
  margin-top: 5%;
}

.game-guide-link{
  width: 100%;
  display: block;
  @include box-shadow();
  @include border-semi-rounded;
  padding: 15px 0;
  text-align: center;
  font-weight: 700;
  font-size: 120%;
}

.app-links{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.app-store-link,
.play-store-link{
  display: block;
  width: 50%;
  text-align: center;
  -webkit-background-size:contain;
  background-size:contain;
  text-indent: -9999px;
  height: 63px;
  margin-bottom: 10px;
  background-repeat:no-repeat;
  background-position: center;
}

.app-store-link{
  background-image: url(../img/icon_appstore.svg);

}

.play-store-link{
  background-image: url(../img/icon_googleplay.png);
}

.video-link{
  background-image: url(../img/icon_play_white.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size:contain;
  background-size:contain;
  z-index:1;
  display: block;
  height:50%;
  width:50%;
  opacity: 0.4;
  transition: opacity 200ms;

  &:hover{
    opacity: 1;
  }
}

.video-overlay{
  position: fixed;
  top:0;
  z-index:4;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
}

.video-wrapper{
  width: 70vw;
  background-color: #fff;
  height: 80vh;
  margin: 10vh auto;
}

.close-video{
  position: relative;
  top: -87vh;
  left: 71vw;
  border: none;
  background: none;
  font-size: 200%;
  font-weight: 700;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  transition: opacity 200ms;

  &:hover{
    opacity: 1;
  }

  &:active{
    font-size: 250%;
  }
}


// MEDIAQUERIES

@media (min-width: 1000px) {
  .single-product{
    flex-direction: row;

    > .single-product__section{
      width: 50%;
    }
  }

  .single-product-image{
    height:100%;
  }

  .single-product-information{
    margin-right: 60px;
    padding-left: 60px;
  }
}